@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.checked {
  position: relative;
}

.checked::after {
  content: "";
  position: absolute;
  top: -10%;
  left: 60%;

  width: 17px;
  height: 35px;

  border-right: 5px solid #009E55;
  border-top: 5px solid #009E55;

  transform-origin: center;
  transform: translate(-39%, 0%) scaleX(-1) rotate(135deg);
  
  opacity: 1;

  animation: check 0.8s ease-out forwards;
}

@keyframes check {
  0%   { transform: translate(-39%, 0%) scaleX(-1) rotate(135deg); }
  100% { transform: translate(-39%, 0%) scaleX(-1) rotate(135deg); }
}
